.funny-glasses{
    position: relative;
    left: 213px;
    bottom: 110px;
}

.bandana{
    position: absolute;
    top: 177px;
    left: 105px;
}

.pawprint{
    position: fixed;
    top: 45px;
    left: 65px;
}

.luna{
    position: sticky;
    left: 0px;
}

.top-hat{
    position: relative;
    z-index: 1;
}